$color-yellow: #FFBC00;
$color-yellow-lite: #f6cb4d;
$color-orange: #FF9C00;
$color-black: #000;
$color-white: #fff;
$color-light-yellow: #f6e483;
$border-bottom: 1px solid rgba(230,230,230,0.2);
$color-white-deep: #F2E6C5;
$color-grey-lite: #DADADA;
$color-grey: #c8c8c8;